$rareTextColor: #ff7;
$gemTextColor: #1ba29b;
$normalTextColor: #c8c8c8;
$uniqueTextColor: #af6025;
$magicTextColor: #88f;
$currencyTextColor: #aa9e82;
$enchantedTextColor: #b4b4ff;
$corruptedTextColor: #d20000;

.item-container {
    height: 100%;
    width: 100%;
    &.identified {
        background-color: rgba(25, 26, 150, 0.25);
    }
    &.unidentified {
        background-color: rgba(210, 0, 0, 0.18);
    }
    .vertical-align-helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    img {
        vertical-align: middle;
    }
}

:host {
    position: fixed;
    z-index: 2;
    text-align: center;
}

mat-card {
    max-width: 600px;
    min-width: 264px;
    background: rgba(0, 0, 0, 0.8);
    margin: 0px 7px;
    padding: 0;
    line-height: 1.4;
    .title {
        font-size: 19px;
        line-height: 1em;
        height: 33px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .double-line {
        height: 53px;
    }
    .content {
        padding: 15px;
    }
    hr {
        border: none;
        height: 2px;
    }
    .implicitMods,
    .explicitMods {
        color: $magicTextColor;
    }

    &.item-type-0 {
        .title {
            background: url("../../../../assets/images/header-normal-left.png") top left no-repeat,
                url("../../../../assets/images/header-normal-right.png") top right no-repeat,
                url("../../../../assets/images/header-normal-middle.png");
            color: $normalTextColor;
        }
        .secDescrText,
        .vaal-name {
            color: $normalTextColor;
        }
        hr {
            background: url("../../../../assets/images/separator-normal.png") center no-repeat;
        }
    }

    &.item-type-1 {
        .title {
            background: url("../../../../assets/images/header-magic-left.png") top left no-repeat,
                url("../../../../assets/images/header-magic-right.png") top right no-repeat,
                url("../../../../assets/images/header-magic-middle.png");
            color: $magicTextColor;
        }
        .secDescrText,
        .vaal-name {
            color: $magicTextColor;
        }
        hr {
            background: url("../../../../assets/images/separator-magic.png") center no-repeat;
        }
    }
    &.item-type-2 {
        .title {
            background: url("../../../../assets/images/header-double-rare-left.png") top left no-repeat,
                url("../../../../assets/images/header-double-rare-right.png") top right no-repeat,
                url("../../../../assets/images/header-double-rare-middle.png");
            color: $rareTextColor;
            height: 53px;
        }
        .secDescrText,
        .vaal-name {
            color: $rareTextColor;
        }
        hr {
            background: url("../../../../assets/images/separator-rare.png") center no-repeat;
        }
    }
    &.item-type-3 {
        .title {
            color: $uniqueTextColor;
            background: url("../../../../assets/images/header-double-unique-left.png") top left no-repeat,
                url("../../../../assets/images/header-double-unique-right.png") top right no-repeat,
                url("../../../../assets/images/header-double-unique-middle.png");
            height: 53px;
        }
        .secDescrText,
        .vaal-name {
            color: $uniqueTextColor;
        }
        hr {
            background: url("../../../../assets/images/separator-unique.png") center no-repeat;
        }
    }
    &.item-type-4 {
        .title {
            color: $gemTextColor;
            background: url("../../../../assets/images/header-gem-left.png") top left no-repeat,
                url("../../../../assets/images/header-gem-right.png") top right no-repeat,
                url("../../../../assets/images/header-gem-middle.png");
        }
        .secDescrText,
        .vaal-name {
            color: $gemTextColor;
        }
        hr {
            background: url("../../../../assets/images/separator-gem.png") center no-repeat;
        }
    }
    &.item-type-5 {
        .title {
            color: $currencyTextColor;
            background: url("../../../../assets/images/header-currency-left.png") top left no-repeat,
                url("../../../../assets/images/header-currency-right.png") top right no-repeat,
                url("../../../../assets/images/header-currency-middle.png");
            
        }
        .secDescrText,
        .vaal-name {
            color: $currencyTextColor;
        }
        hr {
            background: url("../../../../assets/images/separator-currency.png") center no-repeat;
        }
    }
}
