<form (ngSubmit)="save()">
  <mat-card class="mat-elevation-z0">
    <mat-card-header>
      <mat-card-title>Settings</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group animationDuration="0ms" color="accent" [selectedIndex]="selectedTabIndex">
        <mat-tab label="Account">
          <mat-form-field>
            <mat-label>Account Name</mat-label>
            <input matInput type="text" [(ngModel)]="settings.accountName" name="account-name">
          </mat-form-field>

          <mat-form-field>
            <mat-label>POE Session ID</mat-label>
            <input matInput type="password" [ngModel]="settings.poeSessionId"
              (ngModelChange)="onPoeSessionIdChange($event)" name="poe-session-id">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Character</mat-label>
            <mat-select [ngModel]="activeCharacterName" (ngModelChange)="onActiveCharacterChanged($event)"
              [disabled]="!characters || characters.length==0" name="characters">
              <mat-option *ngFor="let character of characters" [value]="character.name">
                {{ character.name}} ({{character.league}})
              </mat-option>
            </mat-select>
          </mat-form-field>

          <h3>Chaos Recipe Stash Tabs</h3>
          <section class="stash-checkbox" *ngIf="stashTab">
            <mat-checkbox #selectedTabs *ngFor="let tab of stashTab.tabs; index as i" [value]="tab"
              [checked]="isSelectedTab(tab)" (change)="onSelectedTabChanged()" [disabled]="!isChaosItemStashTab(tab)">
              {{tab.n}}</mat-checkbox>
          </section>
        </mat-tab>
        <mat-tab label="System">
          <mat-form-field>
            <mat-label>
              POE API Refresh Rate (Seconds)
            </mat-label>
            <input matInput placeholder="label" placeholder="60" value="60" [(ngModel)]="settings.poeApiRefreshRate"
              type="number" min="15" name="refresh-rate">
            <mat-hint>Minimum 15 seconds</mat-hint>
          </mat-form-field>
          <div>
            <mat-checkbox name="enableAutoRefresh" [(ngModel)]="settings.enableAutoRefresh" [checked]="settings.enableAutoRefresh">
              Enable Auto Refresh
            </mat-checkbox>
          </div>

        </mat-tab>
        <mat-tab label="About">
          <h1>POE Recipe</h1>
          <p>Author: Warren Clough</p>
          <p>Created: 2021</p>
          <p>Version: {{appVersion}}</p>
          <br />
          <h4 *ngIf="isOutdated" class="outdated-message">This version of the application is outdated. Download the
            latest release</h4>
          <button color="accent" mat-button (click)="openLink('https://github.com/CLOUGH/poe-recipe/releases')">Download
            Latest Release</button>
          <button color="accent" mat-button (click)="openLink('https://github.com/CLOUGH/poe-recipe')">Github
            Page</button>
          <button color="accent" mat-button (click)="openDeveloperTool()">Developer Tools</button>


        </mat-tab>
      </mat-tab-group>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="button" (click)="cancel()">
        Cancel
      </button>
      <button color="accent" mat-accent mat-raised-button type="submit">
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</form>