<div class="wrapper">
  <div class="stash-grid" #stashContainer [style.width]="stashPanelSize+'px'">
    <img src="assets/images/QuadStashPanelGrid.png" class="stash-grid" *ngIf="stashTab.quadLayout" #stashImgPanel>
    <img src="assets/images/StashPanelGrid.png" class="stash-grid" *ngIf="!stashTab.quadLayout" #stashImgPanel>
    <div class="stash-box" *ngFor="let item of stashTab.items; let i=index" [style.left]="getItemPositionX(item,stashTab)+'px'"
      [style.top]="getItemPositionY(item,stashTab)+'px'" [style.height]="getItemHeight(item,stashTab)+'px'"
      (mouseenter)="showItemPopover(i)" (mouseleave)="hidePopoverItem(i)">
      <img class="item"
        [ngClass]="{'highlight': isItemHighlighted(i), 'identified': item.identified===true, 'unidentified': item.identified===false }"
        [src]="item.icon">
      <app-item-popover [item]="item" *ngIf="i===popoverItemIndex"></app-item-popover>
    </div>
  </div>
</div>