.stash-grid {
  position: relative;
  display: flex;
  height: 100%;
  margin:auto;
  // justify-content: center;
}
.wrapper {
  height: 80vh;
}
img.stash-grid{
  position: absolute;
  object-fit: contain;

}
.stash-box {
  position: absolute;
  img {
    &.identified{
      background-color: rgba(25,26,150,0.25);
    }
    &.unidentified {
      background-color: rgba(210,0,0,0.18)
    }
    height: inherit;
  }

  }
.highlight {
  box-shadow: inset 1px 1px 5px black;
  background-color: rgba($color: #69f0ae, $alpha: 0.5) !important;
  
}
