:host {

}
.container {
}

pre {
  max-height: 500px;
  overflow-y: auto;
}

.stash-tabs-container {
  min-height: 60vh;
}

.chaos-set-items {
  // margin-top: 15px !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  mat-radio-button {
    font-size: 12px;
    padding-left: 15px;
  }
}

.inventory-mode {
  mat-radio-button {
    margin-right: 15px;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.spinning {
  animation: rotation 2s infinite linear;

}

.chaos-items-stats {
  // margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
}
mat-card-header {
  width: 100%;
}

.action-bar {
  display: flex;
  justify-content: space-between;
  mat-radio-group {
    display: block !important;
  }
  
}
.settings-btn {
  margin-top: -10px;
}

.chaos-items-stats button {
  font-size: 12px;
}


:host ::ng-deep .mat-tab-label.mat-tab-disabled {
  color: rgb(115 115 115 / 50%);
}
:host ::ng-deep .mat-tab-label {
  color: rgba($color: white, $alpha: 1.0)
}

mat-card {
  background-color: black;
}

.no-completed-notification {
  font-size: 10px;
  text-align: center;
}